<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ItForum_spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Spring_it_forum</title>
    <link rel="stylesheet"  th:href="@{/css/Form_register.css}">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="https://kit.fontawesome.com/d5efc829a1.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            Spring_it_forum
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home" >Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/questions" >Все вопросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/Users" tabindex="-1" aria-disabled="true">Пользователи</a>
                </li>
            </ul>
            <div id="app">
                <div th:if="${Auth==false}" >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 float-sm-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/login" >Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" >Регистрация</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" th:if="${Auth==true}">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{${Users.getURLimage()}}" src="/static/img/11.png" class="rounded-circle"
                                 height="34" alt="Avatar" loading="lazy" />
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/home/profile?id='+ ${Users.getId()}}">Профиль</a></li>
                            <li><a class="dropdown-item" href="/logout" >Выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form class="d-flex" th:action="@{/home}" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
<div id="London" class="tabcontent1 ">
    <div class="p-body-inner">
        <div class="container">
            <button type="button" class="btn btn-success" onclick="location.href='/home'" th:if="${isSearch}">Back</button>
            <div class="row">
                <!-- Main content -->
                <div class="col-lg-9 mb-3">
                    <!-- End of post 1 -->
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0" th:each="quastion:${Quastion}">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a th:href="@{'/home/questionSelect?id='+ ${quastion.id}}" class="text-primary" th:utext="${quastion.nameQuestion}"></a>
                                </h5>
                                <p th:each="user:${quastion.user}" class="text-sm"><span class="op-6">Публикация</span> <a class="text-black" href="#" th:utext="${quastion.datePublish}"></a> <span class="op-6">от
                                </span> <a class="text-black" href="#"  th:utext="${user.nickname}"></a>
                                    <img th:src="@{${user.URLimage}}" alt="Avatar" style="width:35px" src="/static/img/9.jpg"/>
                                </p>
                                <div class="text-sm op-5"> <span th:each="tag:${quastion.tags}"><a class="text-black mr-2" href="#" th:utext="${'#'+tag+' '}"></a></span></div>
                            </div>
                            <!--<div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i>&#128489;</i> ответов <span class="d-block text-sm" th:text="${quastion.votes}"></span> </div>
                                    <div class="col px-1"> <i>&#128440;</i> просмотров <span class="d-block text-sm" th:text="${quastion.views}"></span> </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Sidebar content -->
                <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
                    <div style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;"></div><div data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}" data-toggle="sticky" class="sticky" style="top: 85px;"><div class="sticky-inner">
                    <span>
                        <a th:class="${Auth}?'btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6 roboto-bold':'btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6 roboto-bold disabled'"  href="/home/AddQuestion" >Оставить<br/>вопрос</a>
                    </span>
                    <span th:if="${Auth==true}">
                        <a th:each="role:${Users.getRoles()}" th:if="${role.getRole()=='ADMIN'}" class="btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6 roboto-bold" href="/AdminPanel" >Админ<br/>Панель</a>
                    </span>
                    <div class="bg-white mb-3">
                        <h4 class="px-3 py-4 op-5 m-0">
                           Активные вопросы
                        </h4>
                        <hr class="m-0">
                        <div class="pos-relative px-3 py-3" th:each="quastion,q:${Quastion}" th:unless="${q.index>6}">
                            <h6 class="text-primary text-sm">
                                <a href="#" class="text-primary" th:utext="${quastion.nameQuestion}"></a>
                            </h6>
                            <p class="mb-0 text-sm" th:each="user:${quastion.user}"><span class="op-6">публикация</span> <span class="op-6">от</span> <a class="text-black" href="#" th:utext="${user.nickname}"></a></p>
                        </div>
                        <hr class="m-0">
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/d5efc829a1.js" crossorigin="anonymous"></script>
</body>
</html>