<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>выбранный вопрос</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet"  th:href="@{/css/Form_register.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            Spring_it_forum
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home" >Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/questions" >Все вопросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/Users" tabindex="-1" aria-disabled="true" >Пользователи</a>
                </li>
            </ul>
            <div id="app">
                <div th:if="${Auth==false}">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 float-sm-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/login" >Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" >Регистрация</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" th:if="${Auth==true}">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{${Users.getURLimage()}}" class="rounded-circle"
                                 height="34" alt="Avatar" loading="lazy" />
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/home/profile?id='+ ${Users.getId()}}">Профиль</a></li>
                            <li><a class="dropdown-item" href="/logout" >Выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form class="d-flex" th:action="@{/home}" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
<div class="p-body-inner">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <div class="col-lg-9 mb-3">
                <!-- End of post 1 -->
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0" >
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                            <h5>
                                <a href="#" class="text-primary" th:utext="${Question.nameQuestion}"></a>
                            </h5>
                            <p th:each="user:${Question.user}" class="text-sm">
                                <span class="op-6">Публикация</span>
                                <a class="text-black" href="#" th:utext="${Question.datePublish}"></a>
                                <span class="op-6">от</span>
                                <a class="text-black" href="#" th:utext="${user.nickname}"></a>
                                <img th:src="@{${user.URLimage}}" alt="Avatar" style="width:35px" src="/static/img/9.jpg"/>
                            </p>
                            <h6 style="color: black" th:utext="${Question.description}"></h6>
                            <div class="text-sm op-5"> <span th:each="tag:${Question.tags}"><a class="text-black mr-2" href="#" th:utext="${'#'+tag+' '}"></a></span></div>
                        </div>
                        <pre class="prettyprint" th:utext="${Question.code}">
                        </pre>
                    </div>
                </div>
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0" th:each="Answers:${AnswersOnQuestion}">
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                            <h6 style="color: black" th:utext="${Answers.descriptionAnswers}">
                            </h6>
                            <p th:each="user:${Answers.user}" class="text-sm">
                                <span class="op-6">Публикация</span>
                                <a class="text-black" href="#" th:utext="${Answers.getDatePublishAnswer()}"></a>
                                <span class="op-6">от</span>
                                <a class="text-black" href="#" th:utext="${user.nickname}"></a>
                                <img th:src="@{${user.URLimage}}" alt="Avatar" style="width:35px" src="/static/img/9.jpg"/>
                            </p>
                        </div>
                        <div class="col-md-4 op-7">
                            <div class="row text-center op-7" th:each="user:${Question.user}" th:if="${Users.getNickname()==user.nickname}">
                                <div class="col px-1" th:if="${Answers.getCorrect()==false}"> <a class="btn btn-success mt-3 btn-rounded waves-effect w-md waves-light" th:href="@{'/home/correct?id='+ ${Answers.id}}" role="button">отметить правильным</a> </div>
                                <div class="col px-1" th:if="${Answers.getCorrect()==true}">&#9989;</div>
                            </div>
                        </div>
                        <pre class="prettyprint" th:utext="${Answers.codeAnswers}"></pre>
                    </div>
                </div>
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0" th:if="${Auth==true}">
                    <form th:action="@{/home/questionSelect}" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Описание ответа</label>
                            <textarea name="descriptionAnswer" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">код</label>
                            <textarea name="CodeAnswer" class="form-control" id="exampleFormControlTextarea2" rows="5"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>